<div class="marcador">
    <div class="logo">
        <img [src]="equipoLocal.logo" alt="">
    </div>
    <div class="puntos">
        <span>{{puntosLocales}}</span>
        <img src="/assets/img/NBA_Logo.svg" alt="">
        <span>{{puntosVisintantes}}</span>
    </div>
    <div class="logo">
        <img [src]="equipoVisitante.logo" alt="">
    </div>
</div>
<div class="equipos">
    <!-- PASANDO INFORMACION A HIJO -->
    <app-equipo class="equipo" [hijoEquipo]="equipoLocal"></app-equipo>
    <app-equipo class="equipo" [hijoEquipo]="equipoVisitante"></app-equipo>
</div>
